.menu ul {
	float: left;
	clear: both;
	margin: 20px 0 20px 10px;
}

.menu li {
	display: inline;
	list-style-type: none;
}

.menu li a {
	float: left;
	width: 40px;
	height: 20px;
	border: 1px solid #000;
	font-size: 16px;
	text-align: center;
	margin: 0 5px;
	padding: 5px 0;
	background-color: #fff;
	text-decoration: underline;
}

.menu li a:hover {
	background-color: #000;
	text-decoration: none;
	border-color: #f00;
}

#oneone,
#onetwo,
#onethree,
#onefour,
#onefive,
#onesix,
#oneseven,
#oneeight,
#twoone,
#twotwo,
#twothree,
#twofour,
#threeone,
#threetwo,
#threethree {
	display: none;
}

.coverspace {
	height: 350px;
}
