#content div, #content p, #content ol {
	clear: both;
	margin: 0;
}

#content ol.listone {
	margin-left: 6em;
	margin-bottom: 2em;
}

#content div.box9 {
	margin: 1em auto 1em 2em;	
}

#content div.box4, #content div.box16 {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.box1, div.box9, div.box12, div.box13, div.box17 {
	float: left;
}

div.box2, div.box3, div.box4, div.box6, div.box8, div.box10, div.box16 {
	float: right;
	width: 18.5em;
}

#content div.box2 {
	margin-bottom: 2em;
}

#content div.box10 {
	margin-top: 2em;
}

#content div.box12 {
	width: 50em;
	margin-left: 16em;
}

#content div.box12 p, #content div.box14 p {
	margin: 1em 0;
}

#content div.box13 {
	margin-bottom: 2em;
}
#content div.box14 {
	margin-bottom: 2em;
}

#content div.box17 {
	margin-top: 2em;
}

#content p.tablepara1 {
	margin-bottom: 1.5em;
}

#content table {
	width: 100%;
	margin-bottom: 2em;
}

#content table td {
	width: 48%;
	padding: 2em 1%;
}