.photoswrapper {
	display: block;
	overflow: hidden;
	width: 66em;
	margin: 3em auto;
}

.photo1, .photo2 {
	width: 30em;
}

#content .photo1 p.caption, #content .photo2 p.caption, #content .singleimg p.caption  {
	line-height: 140%;
	margin-top: 0.8em;
	font-size: 1.2em;
}

#content .photo1 p.caption, #content .photo2 p.caption {
	text-align: left;
	width: 20em;
	margin-left: 0.7em;
}

.photo1 {
	float: left;
}

.photo2 {
	margin-top: 6em;
	float: right;
}