body {
     font-family: Georgia, "Times New Roman", Times, serif;
     font-size: 12pt;
     color: #333333;
}
 a {
     color: #FF0000;
     text-decoration: underline;
     font-family: Georgia, "Times New Roman", Times, serif;
}
 .TITLE1 {
     font-family: Georgia, "Times New Roman", Times, serif;
     font-size: 16pt;
     font-weight: bold;
}
 .TITLE2 {
     font-family: Georgia, "Times New Roman", Times, serif;
     font-size: 14pt;
     font-weight: bold;
}
 .article_link {
     font-family: Georgia, "Times New Roman", Times, serif;
     font-size: 12pt;
}
 .article_explain {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     color: #333333;
}
 .linkStyle {
     color: #FF0000;
     text-decoration: underline;
}
 .doublespaceStandardText {
     font-family: Georgia, "Times New Roman", Times, serif;
     font-size: 12pt;
     line-height: 200%;
     color: #333333;
}
 .at150spaceStandardText {
     font-family: Georgia, "Times New Roman", Times, serif;
     font-size: 12pt;
     line-height: 150%;
     color: #333333;
}
 .standardQuote {
     font-family: Georgia, "Times New Roman", Times, serif;
     font-size: 10pt;
     color: #333333;
     line-height: 150%;
}
 .footnote {
     font-size: 70%;
     vertical-align: super;
}
 .volIssueText {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 11pt;
     font-weight: bold;
}
 .contentsTitle {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20pt;
     font-weight: bold;
}
 .indexIndivTitle1 {
     font-size: 12pt;
     font-weight: bold;
}
 .indexIndivTitle2 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 11pt;
     font-weight: bold;
}
 .indexIndivExplain {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 9pt;
}
 .IndexIndivBlackTitle {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14pt;
     font-weight: bold;
     color: #000000;
}
 .letterSpace1 {
     letter-spacing: 1mm;
}
 .space1 {
     word-spacing: 1px;
}
 .space2 {
     word-spacing: 2px;
}
 .space3 {
     word-spacing: 3px;
}
 .space4 {
     word-spacing: 4px;
}
 .space5 {
     word-spacing: 5px;
}
 .space6 {
     word-spacing: 6px;
}
 .space7 {
     word-spacing: 7px;
}
 .space8 {
     word-spacing: 8px;
}
 .space9 {
     word-spacing: 9px;
}
 .space10 {
     word-spacing: 10px;
}
 .space11 {
     word-spacing: 11px;
}
 .space12 {
     word-spacing: 12px;
}
 .space13 {
     word-spacing: 13px;
}
 .space14 {
     word-spacing: 14px;
}
 .space15 {
     word-spacing: 15px;
}
 .space16 {
     word-spacing: 16px;
}
 .space17 {
     word-spacing: 17px;
}
 .space18 {
     word-spacing: 18px;
}
 .space19 {
     word-spacing: 19px;
}
 .space20 {
     word-spacing: 20px;
}
 .space21 {
     word-spacing: 21px;
}
 .space22 {
     word-spacing: 22px;
}
 .space23 {
     word-spacing: 23px;
}
 .space24 {
     word-spacing: 24px;
}
 .space25 {
     word-spacing: 25px;
}
 .makeSingleSpacedBiog {
     line-height: 100%;
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 10pt;
}
 .textNav {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 11pt;
     font-weight: bold;
     color: #FF0000;
}
 .announceHeading {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 14px;
     font-weight: bold;
     text-transform: uppercase;
     color: #FF0000;
}
 .indentedNoOtherFormatting {
     text-indent: 35px;
}
 
