.poem p {
	font-family: "Times New Roman", Georgia, Times, serif;
	line-height: 170%;
}

.medgap {
	margin-left: 3.2em;
}

.largegap {
	margin-left: 9em;
}

.hugegap {
	margin-left: 16em;
}

.smallertext {
	font-size: 1.2em;
}

.nowuspolind {
	margin-left: 6em;
}